@{
    ViewData["Title"] = "Home Page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap" rel="stylesheet">
<div class="jumbotron">
    <h1>Hong Kong University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Hong Kong University</h2>
        <p>
            Hong Kong University is a place for students to flourish and grow.
        </p>
    </div>
    <div>
        <img src="https://mcdonnell.wustl.edu/wp-content/uploads/2020/10/UHK-460x310.jpg" width="400px" />
    </div>
</div>

<style>
    h1 {
        font-family: 'Climate Crisis', cursive;
    }
</style>